<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/Users/y.yalung/Desktop/logback/spring-boot-logging.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C:/Users/y.yalung/Desktop/logback/spring-boot-logging.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- adding retention period-->
            <maxHistory>7</maxHistory>
            <!-- adding max file size-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

        </rollingPolicy>

        <!--https://www.elastic.co/guide/en/ecs-logging/java/1.x/setup.html-->
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>elk-spike</serviceName>
            <stackTraceAsArray>true</stackTraceAsArray>
            <includeOrigin>true</includeOrigin>
            <includeMarkers>true</includeMarkers>

            <!--adding additional static field-->
            <additionalField>
                <key>key1</key>
                <value>value1</value>
            </additionalField>
            <additionalField>
                <key>key2</key>
                <value>value2</value>
            </additionalField>


        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="STASH" />
    </root>
</configuration>